.page-header{
  float: right;
  justify-content: space-between;
}
.nav-header{
  display: flex;
}
.ul-header{
  display: flex;
  text-decoration: none;
  list-style: none;
}
.header{
  padding: 50px 30px 0px;
  // height: 100vh;
  // &-top{
  //   width: 80%;
  //   margin: auto;
  // }
  &-logo{
    text-align: left;
  }
  &-icon{
    font-size: 7.5em;
  }
  &-list{
    margin-right: 10px;
    &_small{
      text-decoration: none;
      color: black;
    }
    &_small:hover {
      color: skyblue;
    }
  }
}

.site-title-sub {
    margin: 0 0 30px;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.site-title {
    // margin: 50px;
    margin-top: 200px;
    font-size: 4.5rem;
}

.site-description {
    margin-bottom: 50px;
    color: #888;
}


// メニューバー装飾
.toppage-footer-top__box{
  float: left;
}
.header-menu{
  float: right;
}
.header-menu-trigger,
.header-menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.header-menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.header-menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: rgb(26, 2, 2);
  border-radius: 4px;
}
.header-menu-trigger span:nth-of-type(1) {
  top: 0;
}
.header-menu-trigger span:nth-of-type(2) {
  top: 20px;
}
.header-menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
