.page-header{
  float: right;
  justify-content: space-between;
}
.nav-header{
  display: flex;
}
.ul-header{
  display: flex;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  letter-spacing: 1px;
}
.header{
  padding: 50px 30px 0px;
  // height: 100vh;
  &-logo{
    text-align: left;
  }
  &-icon{
    font-size: 7.5em;
  }
  &-list{
    margin-right: 20px;
    display: none;
    &_small{
      text-decoration: none;
      color: black;
    }
    &_small:hover {
      color: skyblue;
    }
  }
}

.site-title-sub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.site-title {
  // margin: 50px;
  margin-top: 200px;
  // font-size: 4.5rem;
  // text-align: center;
  &-first{
    margin: 50px;
    margin-top: 200px;
    font-size: 4.5rem;
    text-align: center;
  }
}

.site-description {
    margin-bottom: 50px;
    color: #888;
}


// メニューバー装飾
.header-box{
  height: 100px;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.toppage-footer-top__box{
  float: left;
}
.header-menu{
  float: right;
}
.header-menu-trigger,
.header-menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.header-menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.header-menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: rgb(26, 2, 2);
  border-radius: 4px;
}
.header-menu-trigger span:nth-of-type(1) {
  top: 0;
}
.header-menu-trigger span:nth-of-type(2) {
  top: 20px;
}
.header-menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

// クリック後のスタイル(×)
.header-menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}
.header-menu-trigger.active span:nth-of-type(2) {
  left: 50%;
  opacity: 0;
  -webkit-animation: active-menu-bar02 .8s forwards;
  animation: active-menu-bar02 .8s forwards;
}
@-webkit-keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}
@keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}
.header-menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
}