// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  height: 100vh;
  background-color: rgba(25, 25, 120, 0.9);
}

.about {
  height: 100vh;
  background-color: #ffffff;
}

.works {
  height: 100vh;
  background-color: #383634;
}

.contact {
  height: 100vh;
  background-color: rgba(25, 25, 120, 0.9);
}