* {
  box-sizing: border-box;
}
body{
  background: image-url('home-coming.jpg');
}
section{
  width: 80%;
}
.wrapper {
  color: black;
  text-align: center;
  font-size: 0.8rem;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  line-height: 1.5;
  // background: image-url('home-coming.jpg');
  width: 80%;
  margin: auto;
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

.heading {
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 2.3rem;
  border-bottom: double 4px #999;
}