// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
    box-sizing: border-box;
}

body {
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    background: url('images/bg.jpg') fixed;
    background-size: cover;
}

.header {
  height: 100vh;
  background-color: rgba(25, 25, 120, 0.9);
}

.site-title-sub {
    margin: 0 0 30px;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.site-title {
    margin: 50px;
    font-size: 4.5rem;
}

.site-description {
    margin-bottom: 50px;
    color: #888;
}

.button {
    display: inline-block;
    width: 200px;
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
    background-color: #afa58d;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 0.7rem;
}

.button:hover {
    opacity: 0.9;
}

.button-orange {
    background-color: #f1b400;
}

.about {
  height: 100vh;
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
}
.about-text {
    width: 600px;
    margin: 30px auto;
    line-height: 2.5;
    text-align: left;
}

.heading {
    display: inline-block;
    margin: 30px 0 15px;
    padding-bottom: 15px;
    letter-spacing: 2px;
    font-size: 4rem;
    border-bottom: double 4px #999;
}
.works {
  height: 100vh;
  background-color: #383634;
}

.contact {
  height: 100vh;
  background-color: rgba(25, 25, 120, 0.9);
}