.header-top
  =link_to root_path, class: "image" do
    = image_tag "logo2.png", class: "toppage-footer-top__box"
.header-box
  .header-menu
    %a.header-menu-trigger
      %span
      %span
      %span
  .page-header
    %nav.nav-header
      %ul.ul-header
        %li.header-list.onanimation
          =link_to products_skill_path, class: "header-list_small" do
            skill
        %li.header-list
          =link_to products_works_path, class: "header-list_small" do
            works
        %li.header-list
          =link_to products_about_path, class: "header-list_small" do
            about
        %li.header-list
          =link_to products_contact_path, class: "header-list_small" do
            contact

:javascript
  $(function(){
      $(".header-menu-trigger").click(function(){
        $(this).toggleClass("active");
        $(".header-list").slideToggle("slow");
      });
  });

