%body
  .header
    = render "products/header"
  %section#about.about
    .site-title
      %h2.heading ABOUT
    .topics
      %dl
        %dt 名称
        %dd NICO
      %dl
        %dt 所在地
        %dd 大阪市内
      %dl
        %dt お問い合わせ
        %dd nico.550363@gmail.com
      %dl
        %dt 事業内容
        %dd コーティング