<header class="header">
  <p class="site-title-sub">----- Web application portfolio -----</p>
  <h1 class="site-title">My WORKS</h1>
  <p class="site-description">Check out some of my works.</p>
  <div class="buttons">
    <a class="button" href="#about">Learn MORE</a>
    <a class="button button-orange" href="#contact">SEND MESSAGE</a>
  </div>
</header>

<section class="about" id="about">
</section>

<section class="works">
</section>

<section class="contact" id="contact">
</section>