<header class="header">
  <p class="site-title-sub">----- Web application portfolio -----</p>
  <h1 class="site-title">My WORKS</h1>
  <p class="site-description">Check out some of my works.</p>
  <div class="buttons">
    <a class="button" href="#about">Learn MORE</a>
    <a class="button button-orange" href="#contact">SEND MESSAGE</a>
  </div>
</header>

<section class="about" id="about">
  <h2 class="heading">PROFILE</h2>
  <p class="about-text">
    子どもの頃からモノづくりが好きで、いまはウェブアプリをつくることにハマっています。
    Railsは難しくて最初は使えるようになるのかな？と不安に感じましたが、いまは本当に便利なフレームワークだなと思っています。<br>      
    これから、共通の趣味を持った仲間がコミュニケーションを取れるようなオリジナルアプリをつくっていきます。来月リリース予定なので、興味のある方はぜひお試しください！
  </p>
</section>

<section class="works">
</section>

<section class="contact" id="contact">
</section>