%body
  .header
    = render "products/header"
  %section.works
    .site-title
      %h2.heading MY WORKS
      .works-wrapper
        .work-box
          -# %img.work-image{:alt => "制作事例", :src => "images/lifespace.png"}/
          .work-description
            Pictweet
            %br/
            %a.button.button-ghost{:href => "#"} READ MORE